extends layout.pug

block content

  body
    h1 Pong
    p
      a(href="/game/new") New Game

    h3 Join a game:

    for game in games
      p
        a(href=`/game/${game._id}`) Game: #{game._id}
