extends layout.pug

block content

  body
    h1 Pong
    p
      a(href="/game/new") New Game

    h3 Join a game:

    for game in games
      p
        a(href=`/game/${game._id}`) Join Game #{Math.floor(Math.random() * (1000 - 0 + 1)) + 0}: Waiting for second player
