extends layout.pug

block content

  body
    h1 Socket Phaser Pong
    p
      a(href="/game/new") Create New Game

    h3 Join a game:

    for game in games
      p
        a.blink(href=`/game/${game._id}`) Join Game #{game.gameDisplayId}: Waiting for second player
