extends layout.pug

block content

  body

    #gameDiv
    script(src='/socket.io/socket.io.js')
    script(src='/lib/phaser/build/phaser.min.js')
    script(src='/js/socket.js', charset='utf-8')
    script(src='/js/preload.js', charset='utf-8')
    script(src='/js/singlePlayer.js', charset='utf-8')
    script(src='/js/game.js', charset='utf-8')
